/* CSS modules concept will add scope to css classes and ids. Through this way, by default, the css classes is not applicable in child componenets 
CSS modules provide a way to locally scope CSS class names. You don’t have to worry about overriding styles when you use the same class name.
https://www.makeuseof.com/react-components-css-modules-style/ */

.login {
    background-color: white;
    height          : 100vh;
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    margin          : auto;
}

.login__logo {
    margin-top   : 20px;
    margin-bottom: 20px;
    object-fit   : contain;
    width        : 100px;
    margin-right : auto;
    margin-left  : auto;
}

.login__logo>img {
    width: 100%;
}

.login__form {
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    background-color: #f3f3f3;
    border-radius   : 5px;
    border          : 1px solid lightgray;
    padding         : 20px;
    width           : 350px;
    height          : fit-content;
}

.login__form>h1 {
    font-weight  : 500;
    margin-bottom: 20px;
}

.login__form>form>h5 {
    margin-bottom: 5px;
}

.login__form>form>input {
    height          : 30px;
    margin-bottom   : 10px;
    background-color: white;
    width           : 98%;
}

.login__form>p {
    margin-top: 15px;
    font-size : 12px;
}

.error__message {
    color    : red;
    font-size: 12px;
}

.login__signin__button {
    background   : #f0c14b;
    border-radius: 2px;
    width        : 100%;
    height       : 30px;
    border       : 1px solid;
    margin-top   : 10px;
    border-color : #a88734 #9c7e31 #846a29;
    font-weight  : 600;
}

.login__register__button {
    border-radius: 2px;
    width        : 100%;
    height       : 30px;
    border       : 1.5px solid darkgray;
    margin-top   : 10px;
    font-weight  : 600;
}